/* Reglas de css */

body {
  font-family: arial;
}

h1, h2{
  color: blue;
}

h1{
  font-size: 140%;
  padding-bottom: 0.5em;
}

h2{
  font-size: 120%;
  font-style: italic;
  padding-bottom: 0.2em;
}
